<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchMates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipal.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">


</head>

<body>
    <div id="main" class="principal">
        <center>
            <h1>
                Trouvez votre mate
            </h1>
        </center>
        <p class="entry">Entrez votre prénom :</p>
        <input type="text" class="input-entry" placeholder="Votre prénom ici">
        <br>
        <p class="entry">Entrez votre nom :</p>
        <input type="text" class="input-entry" placeholder="Votre nom ici">
        <br>
        <p class="entry">Entrez votre intéret :</p>
        <input type="text" class="input-menu" placeholder="Votre intéret">

    </div>

</body>

</html>